@use './animations';
@use './reset';
@use './typography';
@use '../abstracts/variables';

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background:variables.$degrade-lineal-w;
}

.main{
    flex: 1;
}

a{
    text-decoration: none;
    color: inherit;
}